
/*------------------------------------*\
    Basic reset / initialize
\*------------------------------------*/

*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}
@font-face {
	font-family: "FuturaLT";
	src: url("../font/Futura LT/FuturaLT.ttf");
	font-family: "fontoteka";
	src: url("../font/fontoteka/DIN Pro Condensed Regular.otf");

	/* font-family: "fontotekaBlack";
	src: url("../font/fontoteka/DIN Pro Condensed Black.otf"); */
}

fieldset,
img {
  border: 0;
}

legend {
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input,
textarea,
select {
	font-size: inherit;
	line-height: inherit;
}

abbr,
acronym {
	border-bottom: .1em dotted;
	cursor: help;
}




/*------------------------------------*\
    Global
\*------------------------------------*/

/* html element 62.5% font-size for REM use */
html {
	font-size: 62.5%;
}
body {
	/* font-family: 'Lato', sans-serif; */

	font-family: 'FuturaLT', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;

	font-size: 1.8rem;
	/* color: #444; */
	color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color : #00FF72;*/
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
/*Gradient*/
/*background: #00ff9d;
background: -moz-linear-gradient(45deg, #00ff9d 0%, #00ff72 100%);
background: -webkit-linear-gradient(45deg, #00ff9d 0%,#00ff72 100%);
background: linear-gradient(45deg, #00ff9d 0%,#00ff72 100%);*/
/*background: #1D976C;
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
background: linear-gradient(to right, #93F9B9, #1D976C); 
*/
/* background: #007991;  fallback for old browsers */
/* background: -webkit-linear-gradient(167deg, #78ffd6, #007991);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(167deg, #78ffd6, #007991); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-color: white;
background-image: url("../img/texture/texture.svg");
background-repeat: repeat;


filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff9d', endColorstr='#00ff72',GradientType=1 );
}

img {
	max-width: 100%;
	vertical-align: bottom;
}


/*------------------------------------------------------*\
    Structure (containers, wrappers, column layouts...)
\*------------------------------------------------------*/


.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}

/*header*/
.containerH {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}











/*------------------------------------*\
	Typography
\*------------------------------------*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
/* font-family: "fontotekaBlack"; */
	font-weight: bold;
  margin-bottom: 0.5em;
}

h1, .h1 {
	font-size: 3.6rem;
}

h2, .h2 {
	font-size: 2.4rem;
}

h3, .h3 {
	font-size: 1.8rem;
}

h4, .h4 {
	font-size: 1.6rem;
}

h5, .h5 {
	font-size: 1.4rem;
}

h6, .h6 {
	font-size: 1.2rem;
}

p {
  margin-bottom: 0.5em;
}
.downloadbtn{
	color: blue;
	text-decoration: underline;
}

b,
strong {
	font-weight: bold;
}








/*------------------------------------*\
    Buttons / links
\*------------------------------------*/

.btn,
button,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
	outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
}
a:hover {
	color: inherit;
}
a:focus {
	outline: 0;
}
a:hover,
a:active {
	outline: 0;
}





/*------------------------------------*\
    Forms
\*------------------------------------*/

label {

}

input,
textarea {

}

input:focus,
textarea:focus {
	outline: 0;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit;
}


.field {
	position: relative;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.error {
	color: red;
}







/*------------------------------------*\
    Header
\*------------------------------------*/
header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 4em;
	/* background-color: #FFF; */
	background-color: #191919;
	z-index: 10;
	/* border-bottom: 1px solid #E8E8E8; */
	border-bottom: 1px solid #191919;
	box-shadow: 0px 4px 4px 0px rgba(25,25,25,0.1);
}
header .containerH{
	display: flex;
}
header .menu {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s;
	background-color: white;
}
header.is-active .menu{
	opacity: 1;
	pointer-events: all;
	
}
header .menu li{
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding-top: 10%;
	padding-bottom: 8%;
	font-size: 1.5em;
	animation: fadein 3s;
}
header .logo{
	z-index: 11;
	position: relative;
	/* color: #444; */
	color: black;
	padding-top: 10px;
	padding-left: 10px;
}
header a{
	padding-top: 25px;
    padding-left: 20px;
}
header .logo img{
	width: 50px;
}


/*btn-burger*/
.btn-burger{
	margin-left: auto;
	padding-right: 20px;
	padding-top: 10px;
	z-index: 11;
	position: relative;
}
.hamburger .line{
	width: 50px;
	height: 2px;
	/* background-color: #444; */
	background-color: white;
	display: block;
	margin: 11px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  header.is-active .hamburger .line{
	background-color: black;
  }
  .hamburger:hover{
	cursor: pointer;
  }
  header.is-active .hamburger{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  header.is-active .hamburger .line:nth-child(2){
	width: 0px;
  }
  
  header.is-active .hamburger .line:nth-child(1),
  header.is-active .hamburger .line:nth-child(3){
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
  }
  
  header.is-active .hamburger .line:nth-child(1){
	-webkit-transform: translateY(13px);
	-ms-transform: translateY(13px);
	-o-transform: translateY(13px);
	transform: translateY(13px);
  }
  
  header.is-active .hamburger .line:nth-child(3){
	-webkit-transform: translateY(-13px) rotate(90deg);
	-ms-transform: translateY(-13px) rotate(90deg);
	-o-transform: translateY(-13px) rotate(90deg);
	transform: translateY(-13px) rotate(90deg);
  }

  header .menu:hover{
	  /* color : #a4a4a4;
	  transition: all .2s ease-in-out; */
  }
  header .menu li a:hover{
	  color: black;
	  transition: all .2s ease-in-out;
  }



/*--------------------------------*\
	Main
\*--------------------------------*/

main {
	min-height: 100px;
	/* padding: 0 30px; */
	padding-top: 20px;
}
main .container h1{
	text-align: center;
	margin-bottom: 40px;
}
main .container .musique-frame .ul-musique{
	padding-top: 30px;
}
/*Contact*/
main .container .info-contact .info-liste{
	display: flex;
	flex-direction: column;
}
main .container .info-contact li{
	display: flex;
	flex-direction: row;
}
main .container .info-contact li img{
	padding-right: 10px;
}
main .container .info-contact li a{
	display: flex;
}
/*musique*/
main .container .musique-frame .ul-musique{
	display: flex;
	flex-direction: column;
	align-items: center;
}
main .container .musique-frame #video{
	margin: 0;
    justify-content: space-between;
}
main .container .musique-frame .ul-musique .tracks{
	position: relative;
	display: flex;
	max-width: 320px;
	width: 100%;
	margin-bottom: 20px;
	/* box-shadow: 0px 0px 19px 0px rgb(48, 138, 104); */
	/* border: 2px solid #444; */
	border: 1px solid #E8E8E8;
	overflow: hidden;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	transition: all .5s ease-in-out;
}
main .container .musique-frame .ul-musique .tracks:hover{
	border-radius: 0px;
}
main .container .musique-frame .ul-musique .tracks::before{
	padding-top: 100%;
	display: block;
	content: "";
}
main .container .musique-frame .ul-musique .tracks img{
	z-index: 1;
	pointer-events: none;
	width: 30%;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
	border-radius: 100%;
}
main .container .musique-frame .ul-musique .tracks iframe{
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 94%;
}
main .container .musique-frame .ul-musique .coverTune{
	position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	background-size: cover;
	transition: all .5s ease-in-out;
	object-fit: cover;
}
main .container .musique-frame .ul-musique .coverTune:hover{
	transform: scale(1.05,1.05);
}

/*  AFFICHE  */
main .container .musique-frame #ul-aff{
	flex-direction: row;
}
main .container .musique-frame .ul-musique .affiche{
	max-width: calc(25% - 40px);
    margin: 20px;
}

/*  VIDEO  */
main .container .musique-frame .ul-musique .vids{	
	position: relative; 
	padding-bottom: 56.25%; 
	/* height: 0;  */
	overflow: hidden; 
	height: auto; 
	width: 100%;
	max-width: 100%;
}
main .container .musique-frame .ul-musique .vids .vidConent{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 81%;
}
main .container .musique-frame .ul-musique .vids .vidConent .vidIframe iframe{
	width: 100%;
    height: 100%;
}

main .container .musique-frame .ul-musique .vids p{
	padding-top: 5px;
	color: #aaa;
}
main .container .musique-frame .ul-musique .vids:nth-child(1) .vidIframe{
	background-color: black;
}
main .container .musique-frame #ul-video{
	border-bottom: 1px solid #E8E8E8;
}

/* web */
main .container .musique-frame #ul-web{
	margin: 0;
}
main .container .musique-frame #ul-web .site-web{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
main .container .musique-frame #ul-web .site-web div{
	width: 100%;
}


main .sectionTitre  {
	background-color: white;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	
	background-image: url("../img/texture/texture.svg");
	background-repeat: repeat;
}
main .sectionTitre h2{
	margin-top: 0.5em;
}
main .sectionTitrePage{
	background-color: white;
	background-image: url("../img/texture/texture.svg");
	background-repeat: repeat;
}


main .secColor{
	background-color: #F9F9F9;
	box-shadow: inset 0px 0px 4px 0px rgba(25,25,25,0.1);

	background-image: url("../img/texture/texture.svg");
	background-repeat: repeat;
}

main #canvas-container{
	max-width: 100%;
}




/*------------------------------------*\
    Footer
\*------------------------------------*/

footer {
	margin-top: auto;
	display: flex;
}
footer .container{
	display: none;
}
footer ul{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*------------------------------------*\
    POP UP Musique
\*------------------------------------*/
.popUp {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.popUp-content {
    background-color: #fefefe;
    margin: 30% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 62%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



img.mfp-img{
	max-height: 100vh !important;
}
/*------------------------------------*\

///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////

	Responsive
	
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////

\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {
	/*--header--*/
	.btn-burger{
		/* display: none; */
	}
	/* header .menu {
		display: flex;
		margin-left: auto;
		opacity: 1;
		flex-direction: row;
		height: 3.5em;
		justify-content: flex-end;
		pointer-events: all;
		color: #a4a4a4;
	} */
	header .menu li{
		/* z-index: 12; */
		/* padding: 0; */
		/* font-size: 1em; */
		/* animation: none; */
		padding-bottom: 0%;
	}
	header .menu li a {
		margin: 10px;
		display: block;
		padding: 15px;
		text-decoration: none;
		position: relative;
	}
	/*under line pour menu*/
	header .menu li a:before{
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		bottom: 8px; /* hauteur de la ligne p/r au texte*/
		left: 0;
		background-color: blue;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	header .menu li a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	

	/*--Main--*/
	main .container{
		margin: 0 auto;
	}
	main .container h1{
		text-align: start;
		border-bottom: 2px solid #444;
		display: inline-block;
		padding-right: 200px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	/*musique*/
	main .container .musique-frame{
		padding-top: 20px;
	}
	main .container .musique-frame .ul-musique{
		flex-direction: row;
		align-items: start;
		justify-content: flex-start;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 25px;
		margin: 0 -20px;
		padding-top: 0;
	}
	main .container .musique-frame #ul-video{
		margin: 0;
		width: 100%;
		justify-content: space-between;
	}
	main .container .musique-frame .ul-musique .tracks{
		max-width: calc(25% - 40px);
		margin: 20px;
	}
	main .container .musique-frame .ul-musique .vids{
		padding-bottom: 21.25%;
		width: 49%;
		max-width: 100%;
		margin-bottom: -20px;
		height: 327px;
	}
	main .container .musique-frame .ul-musique .vids .vidIframe{
		background-color: black;
	}

	/*web*/
	main .container .musique-frame #ul-web .site-web{
		flex-direction: row;
	}
	main .container .musique-frame #ul-web .site-web div{
		width: 49%;
	}



	/*--footer--*/
	footer{
		display: flex;
		color: #aaa;
	}
	footer .container{
		display: flex;
		width: 100%;
	}
	footer .container .info-contact{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	footer li:hover{
		color: #191919;
	}




	/*-- POP UP --*/
	.popUp-content {
		background-color: #fefefe;
		margin: 10% auto;
		padding: 20px;
		border: 1px solid #888;
		width: 80%;
		height: 60%;
		box-shadow: 0px 0 4px 0px rgba(25,25,25,0.5);
	}



	#overlay {
		position: fixed;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.90);
		z-index: 2;
		transition: all .2s ease-in-out;
		animation: fadein 3s;
	}
	
	#text{
		position: fixed;
		display: block;
		top: 50%;
		left: 50%;
		font-size: 50px;
		color: white;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		background-color: white;
		color: blue;
		border: 5px solid blue;
		cursor: pointer;
		width: 250px;
		height: 80px;
		text-align: center;
		z-index: 2;
		box-shadow: 0px 0px 40px 0px rgba(25,25,25,0.3);
		
		transition: all .3s ease-in-out;
	}
	#text:hover{
		background-color: blue;
		color: white;
		box-shadow: 0px 0px 5px 0px rgba(25,25,25,0.9);
	}
	#text h2{
		padding-top: 25px;
	}

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1280px) {
	header .menu li{
		padding-top: 6%;
	}
}
@media only screen and (max-width:1340px) {
	header a{
		padding-left: 0px;
	}
	main .container{
		padding-left: 10px;
		padding-right: 10px;
	}
	footer #footer{
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {
}











/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow:none;
}
::-webkit-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow:none;
}
::-moz-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow:none;
}







/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}


/* ------------------ */
/* synth */
/* ------------------ */
@media only screen and (min-width:768px) {
	.controls {
		justify-content: space-evenly;
  /*   border-bottom: solid #a83600 15px; */

	  /* box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,0.25); */
	  
	  	display: flex;
	  	justify-content: space-between;
	  	max-width: 1280px;
	  	width: 100%;
	  	width: 100%;
	  	max-width: 1280px;
	  	margin: 0 auto;
		position: relative;
		padding-top: 30px;
  	}
  
	.controls h2 {
		margin: 0;
		text-align: center;
	}
  
	.control-group {
		box-sizing: content-box;
		position: relative;
		height: 200px;
		margin-right: 3px;
		max-width: 25%;
		border-right: 2px solid;
		flex-direction: column;
		display: flex;
	}
  
  /* .control-group::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -3px;
	width: 3px;
	background-color: #d1c8be;
	border-top: solid #50433d 35px;
	z-index: 100;
  } */
  
  .control-group:last-child {
	margin-right: 0;
	border-bottom-color: #6585b8;
	border-right: none;
  }
  
  .control-group:last-child h1 { 
  }
  
  .control-group:last-child::after {
	display: none;
  }
  
  main .container .control-group h1 {
	border: none;
    font-size: 1em;
    padding-bottom: 0px !important;
  }
  main .container .control-group #envelope {
	padding-right: 170px;
  }
  
  .control-group .knobs {
	display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
  }
  
  .control-group label {
	text-align: center;
  }
  
  .control-group .label-text {
	color: #d1c8be;
  }
  
  .screens {
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
  }
  
  .screen {
	/* width: 500px;
	height: 300px;
	padding: 20px; */
	overflow: hidden;

	position: relative;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  }
  
  .screen canvas {
	width: 100%;
  	height: auto;
  }
  
  /*
   * Inputs and other things
   */
   /* input[type=range] {
	height: 40px;
	-webkit-transform: rotate(-90deg) translateX(-50px);
			transform: rotate(-90deg) translateX(-50px);
	-webkit-appearance: none;
	margin: 10px 0;
	background-color: #515459;
	background: -webkit-repeating-linear-gradient(left, #d1c8be, #d1c8be 1px, transparent 1px, transparent 1em);
	background: repeating-linear-gradient(90deg, #d1c8be, #d1c8be 1px, transparent 1px, transparent 1em);
	cursor: ns-resize;
  }
  
  input[type=range]:focus {
	outline: none;
  }
  
  input[type=range]::-moz-focus-outer {
	border: 0;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: black;
	border-radius: 5px;
	margin-left: -5px;
  }
  
  input[type=range]::-webkit-slider-thumb {
	margin-top: -14px;
	position: relative;
	height: 40px;
	width: 15px;
	border-radius: 2px;
	cursor: ns-resize;
	-webkit-appearance: none;
	margin-top: -15px;
	box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.75);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 46%, #d1c8be 47%, rgba(255, 255, 255, 0) 53%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, #d1c8be 47%, rgba(255, 255, 255, 0) 53%);
	background-color: #433325;
  }
  
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: black;
	border-radius: 5px;
	margin-left: -5px;
  }
  
  input[type=range]::-moz-range-thumb {
	position: relative;
	height: 40px;
	width: 15px;
	border-radius: 2px;
	cursor: ns-resize;
	-webkit-appearance: none;
	margin-top: -15px;
	box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.75);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, #d1c8be 47%, rgba(255, 255, 255, 0) 53%);
	background-color: #433325;
  } */

  input[type="range"] { 
    margin: 10px 0;
	-webkit-appearance: none;
	transform: rotate(-90deg) translateX(-50px);
    position: relative;
    overflow: hidden;
    height: 40px;
    /* width: 200px; */
    cursor: pointer;
	border-radius: 0; /* iOS */
}
input[type=range]:focus {
	outline: none;
  }

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw blue;
    border: 2px solid #a4a4a4; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}






  /* buttons */
 .knobs .buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  .knobs .buttons li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	color: #d1c8be;
  }
  .knobs .buttons li input[type=radio] {
	display: none;
  }
  .knobs .buttons li input[type=radio]:checked + label .led {
	background-color: red;
  }
  .knobs .buttons li .button-label {
	height: 20px;
  }
  .knobs .buttons li label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .knobs .buttons li label .led {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #6b0000;
	margin: 10px 0;
	border: solid black 1px;
	box-shadow: inset 3px -3px 5px -2px rgba(0, 0, 0, 0.5);
	-webkit-transition: background-color 0.1s;
	transition: background-color 0.1s;
  }
  .knobs .buttons li label .button {
	display: block;
	width: 50px;
	height: 50px;
	border: solid black 2px;
	border-right: none;
	background-color: #b1a65c;
	cursor: pointer;
  }
  .knobs .buttons li label:active .button {
	box-shadow: inset 0px -6px 15px -3px rgba(0, 0, 0, 0.75);
  }
  .knobs .buttons li:last-child .button {
	border-right: solid black 2px;
  }
}




.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .site-web:hover .image {
	opacity: 0.3;
  }
  
  .site-web:hover .middle {
	opacity: 1;
  }
  
  .text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }